{% extends 'base.html' %}

{% block content %}

<div class="container">
    <header class="row">
        <div class="col-12 col-md-6" id="header-text">
            <h2>The future of virtual cars is here...</h2>
            <h5>We've created an automated API tool for car enthusiat developers to stack up a virtual collection and show them off!</h5>
            <div>
                <button class="btn btn-primary" style="background-color:#FF0000" id="but-1">View Our Docs</button>
                <button class="btn btn-primary" style="background-color:#FF0000" id="but-2">Join Our Slack</button>
            </div>

        </div>

        <!-- Header Image -->
        <div class="col-12 col-md-6" id="gify">
            <img class="header-image" src="../static/images/car-rotate.gif">
        </div>

    </header>
    <!-- End of Header Section -->

    <!-- Start Middle Section -->
    <section class="row">
        <div class="col-12 col-md-6" id="middle-text">
            <h2>Display Your Car Collection!</h2>
            <p>You can harness the power of an API to expand your virtual dream collection!</p>
        </div>
    </section>
    <!-- End of Middle Section -->

    <!-- Collection of Features Section -->
    <section class="row" id="features-section">
        <div class="col-12 col-md-6">
            <!-- <img src="../static/images/undraw_Activity_tracker_re_2lvv.png" alt="API Image" id="api-image"> -->
            <h4>Dedicated API Routes</h4>
            <p>
                If you are a fan of using traditional API routes, we have those for you!
            </p>
        </div>

        <div class="col-12 col-md-6">
            <!-- <img src="../static/images/undraw_playing_cards_cywn.png" alt="graphql image" id="graphql-image"> -->
            <h4>GraphQL API Route</h4>
            <p>
                Tracking your data like a BOSS from one enpoint to another!
            </p>
        </div>
        <div class="col-12 col-md-6">
            <!-- <img src="../static/images/undraw_Navigation_re_wxx4.png" alt="database image" id="database-image"> -->
            <h4>Backed By a PostgreSQL Database</h4>
            <p>
                All data will be backed by PostgreSQL database making for ease of navigating you inventory.
            </p>
        </div>
    </section>
    <!-- End of Collection Features -->
    <section class="row">
        <div class="col-12 col-md-6">
            <img src="../static/images/hot-road.jpg" alt="Open Road Image" id="Drone-image">
        </div>

        <div class="col-12 col-md-6" id="socials">
            <h4>Connect with others and show off your collection</h4>
            <p>
            Talk with other devs around the world and collab
            on projects with your data. Join our slack channel and give
            a start to the project on Github!
            </p>
            <div>
                <button class="btn btn-primary" style="background-color:#FF0000" id="but-3">View On Github</button>
                <button class="btn btn-primary" style="background-color:#FF0000" id="but-4">Join Our Slack Channel!</button>
            </div>
        </div>
    </section>


    <!--End of Community Section-->
    <!-- Footer -->
    <footer class="row" id="footer">
        <div class="col-2 col-md-2">
            <img src="../static/images/car-logo.png" alt="Coding Drones Logo" id="footer-logo">
        </div>
    
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Luxury Car Experience</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Luxury Car Experience</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Marvel?</p>
                <p>The Marvel Collection</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Marvel?</p>
                <p>The Marvel Collection</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    
        <div class="col-2 col-md-2">
            <div class="footer-text-flex">
                <h4>Platform</h4>
                <p>Why Coding Drones?</p>
                <p>The Marvel Collection</p>
                <p>Donate</p>
                <p>Spread The Word</p>
                <p>Our Process</p>
            </div>
        </div>
    </footer>
</div>


























</div>







{% endblock content %}